@charset "UTF-8";
/* line 2, ../../sass/components/application.scss */
section.application-form {
  padding: 20px 50px;
  background-color: none;
}
/* line 6, ../../sass/components/application.scss */
section.application-form .card {
  z-index: 0;
  border: none;
  padding: 25px 0;
  position: relative;
  color: #666666;
  background: none;
}
/* line 14, ../../sass/components/application.scss */
section.application-form .card p {
  text-align: left;
  line-height: 28px;
  margin-bottom: 32px;
}
/* line 21, ../../sass/components/application.scss */
section.application-form .btn.btn-primary {
  background-color: #fe2911;
  border: none;
  font-size: 17px;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 16px 30px 17px;
}
/* line 31, ../../sass/components/application.scss */
section.application-form .toggle-submit {
  margin: 40px 0px 25px 0px;
}
/* line 35, ../../sass/components/application.scss */
section.application-form .appStep {
  background: #fff;
  padding: 20px;
  text-align: left;
}
/* line 41, ../../sass/components/application.scss */
section.application-form .steps {
  font-size: 18px;
  color: #232323;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
  position: relative;
  top: 5px;
}
/* line 50, ../../sass/components/application.scss */
section.application-form .steps span {
  color: #fe2911;
  font-weight: 800;
  font-size: 18px;
  position: relative;
  top: 0px;
}

/* line 61, ../../sass/components/application.scss */
#application-form {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
/* line 66, ../../sass/components/application.scss */
#application-form fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}
/* line 77, ../../sass/components/application.scss */
#application-form fieldset:not(:first-of-type) {
  display: none;
}

/* line 82, ../../sass/components/application.scss */
.form-card {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 20px;
}

/* line 89, ../../sass/components/application.scss */
#application-form input,
#application-form textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 16px;
  letter-spacing: 1px;
}

/* line 104, ../../sass/components/application.scss */
#application-form input:focus,
#application-form textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #fe2911;
  outline-width: 0;
}

/* line 113, ../../sass/components/application.scss */
#application-form .action-button {
  width: 100px;
  background: #19a5a2;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

/* line 124, ../../sass/components/application.scss */
.invalid-feedback {
  font-size: 18px;
}

/* line 128, ../../sass/components/application.scss */
#application-form .action-button:hover,
#application-form .action-button:focus {
  background-color: #808080;
}

/* line 133, ../../sass/components/application.scss */
#application-form .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

/* line 144, ../../sass/components/application.scss */
#application-form .action-button-previous:hover,
#application-form .action-button-previous:focus {
  background-color: #232323;
}

/* line 149, ../../sass/components/application.scss */
.fs-title {
  font-size: 32px;
  color: #232323;
  font-weight: normal;
  text-align: left;
}

/* line 156, ../../sass/components/application.scss */
.purple-text {
  color: #fe2911;
  font-weight: normal;
}

/* line 161, ../../sass/components/application.scss */
.form-check-wrap {
  margin-left: 20px;
  padding-right: 20px;
  color: grey;
}

/* line 168, ../../sass/components/application.scss */
.fieldlabels {
  color: gray;
  text-align: left;
}

/* line 174, ../../sass/components/application.scss */
#progressbar #welcome:before {
  font-family: FontAwesome;
  content: "";
}

/* line 179, ../../sass/components/application.scss */
#progressbar #personal:before {
  font-family: FontAwesome;
  content: "";
}

/* line 184, ../../sass/components/application.scss */
#progressbar #payment:before {
  font-family: FontAwesome;
  content: "";
}

/* line 189, ../../sass/components/application.scss */
#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "";
}

/* line 194, ../../sass/components/application.scss */
#progressbar #category:before {
  font-family: FontAwesome;
  content: "";
}

/* line 198, ../../sass/components/application.scss */
#progressbar #objectives:before {
  font-family: FontAwesome;
  content: "";
}

/* line 202, ../../sass/components/application.scss */
#progressbar #socials:before {
  font-family: FontAwesome;
  content: "";
}

/* line 206, ../../sass/components/application.scss */
#progressbar #contributions:before {
  font-family: FontAwesome;
  content: "";
}

/* line 210, ../../sass/components/application.scss */
#progressbar #confirmation:before {
  font-family: FontAwesome;
  content: "";
}

/* line 217, ../../sass/components/application.scss */
.fit-image {
  width: 100%;
  object-fit: cover;
}

/* line 222, ../../sass/components/application.scss */
#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

/* line 232, ../../sass/components/application.scss */
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 239, ../../sass/components/application.scss */
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
/* line 254, ../../sass/components/application.scss */
.is-hide {
  display: none;
}

/*---- Progress Bar ----*/
/* line 261, ../../sass/components/application.scss */
#progressbar {
  margin-bottom: 50px;
  overflow: hidden;
  color: lightgrey;
}
/* line 266, ../../sass/components/application.scss */
#progressbar li.active {
  color: grey;
}
/* line 269, ../../sass/components/application.scss */
#progressbar li.active:before {
  color: white;
  border: none;
}
/* line 275, ../../sass/components/application.scss */
#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 14%;
  float: left;
  position: relative;
  font-weight: 400;
}
/* line 276, ../../sass/components/application.scss */
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #fe2911;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  border: 2px solid lightgrey;
  background-color: #F6F6F6;
}

/* line 304, ../../sass/components/application.scss */
.progress {
  height: 20px;
}

/* line 308, ../../sass/components/application.scss */
.progress-bar {
  background-color: #fe2911;
}

/* line 311, ../../sass/components/application.scss */
#progressbar {
  margin-bottom: 50px;
  overflow: hidden;
  color: lightgrey;
}
/* line 318, ../../sass/components/application.scss */
#progressbar li.active:before {
  color: white;
  border: none;
  background: #fe2911;
}
/* line 324, ../../sass/components/application.scss */
#progressbar li.active:after {
  background: #fe2911;
}
/* line 329, ../../sass/components/application.scss */
#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 14%;
  float: left;
  position: relative;
  font-weight: 400;
  color: grey;
}
/* line 338, ../../sass/components/application.scss */
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}
