@charset "UTF-8";
/* line 2, ../../sass/components/application.scss */
section.application-form { padding: 20px 50px; background-color: none; }
/* line 6, ../../sass/components/application.scss */
section.application-form .card { z-index: 0; border: none; padding: 25px 0; position: relative; color: #666666; background: none; }
/* line 14, ../../sass/components/application.scss */
section.application-form .card p { text-align: left; line-height: 28px; margin-bottom: 32px; }
/* line 22, ../../sass/components/application.scss */
section.application-form .btn.btn-primary, section.application-form .btn.btn-secondary { border: none; font-size: 17px; border-radius: 0; font-weight: 500; letter-spacing: 0.5px; padding: 16px 30px 17px; font-family: 'AvenirNextW05-Demi'; }
/* line 33, ../../sass/components/application.scss */
section.application-form .btn.btn-primary { background-color: #1ca6a3; }
/* line 37, ../../sass/components/application.scss */
section.application-form .btn.btn-secondary { background-color: #cccccc; }
/* line 41, ../../sass/components/application.scss */
section.application-form .btn + .btn { margin-left: 26px; }
/* line 46, ../../sass/components/application.scss */
section.application-form .toggle-submit { margin: 40px 0px 25px 0px; }
/* line 50, ../../sass/components/application.scss */
section.application-form .appStep { background: #fff; padding: 20px; text-align: left; }
/* line 56, ../../sass/components/application.scss */
section.application-form .steps { font-size: 18px; color: #232323; margin-bottom: 10px; font-weight: normal; text-align: right; position: relative; top: 5px; }
/* line 65, ../../sass/components/application.scss */
section.application-form .steps span { color: #fe2911; font-weight: 800; font-size: 18px; position: relative; top: 0px; }

/* line 76, ../../sass/components/application.scss */
#application-form { text-align: center; position: relative; margin-top: 20px; }
/* line 81, ../../sass/components/application.scss */
#application-form fieldset { background: white; border: 0 none; border-radius: 0.5rem; box-sizing: border-box; width: 100%; margin: 0; padding-bottom: 20px; position: relative; }
/* line 92, ../../sass/components/application.scss */
#application-form fieldset:not(:first-of-type) { display: none; }
/* line 97, ../../sass/components/application.scss */
#application-form .dropdown-group label { display: block; font-family: AvenirNextW05-Light; }
/* line 104, ../../sass/components/application.scss */
#application-form .form-group select { padding: 15px 15px 15px 15px !important; border-bottom: 2px solid #ccc; border-radius: 0px; margin-bottom: 25px; margin-top: 2px; box-sizing: border-box; color: #3c3c3c; background-color: #F6F6F6; font-size: 18px; border-top: none; border-left: none; border-right: none; font-family: 'AvenirNextW05-Regular'; font-size: 18px; }
/* line 121, ../../sass/components/application.scss */
#application-form .form-group label.fieldlabels { display: block; font-family: 'AvenirNextW05-Demi'; font-size: 16px; margin-bottom: 0; }
/* line 128, ../../sass/components/application.scss */
#application-form .form-group.row { padding: 0 20px; }
/* line 132, ../../sass/components/application.scss */
#application-form .form-group .dropdown { width: 100%; }

/* line 138, ../../sass/components/application.scss */
#application-form .fieldSet input[type=checkbox] { position: absolute; left: 15px; padding: 0; margin: 0; margin: 0; width: 20px; }

/* line 147, ../../sass/components/application.scss */
.form-card { text-align: left; margin-top: 15px; margin-bottom: 15px; padding: 0 20px; }

/* line 154, ../../sass/components/application.scss */
.form-card + .form-group.row { margin-top: 30px; }

/* line 158, ../../sass/components/application.scss */
#application-form input, #application-form textarea { padding: 15px 15px 15px 15px; border-bottom: 2px solid #ccc; border-radius: 0px; margin-bottom: 25px; margin-top: 2px; box-sizing: border-box; color: #3c3c3c; background-color: #F6F6F6; font-size: 18px; border-top: none; border-left: none; border-right: none; font-family: 'AvenirNextW05-Regular'; width: 100%; }

/* line 176, ../../sass/components/application.scss */
#application-form input:focus, #application-form textarea:focus { -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; border: 1px solid #fe2911; outline-width: 0; }

/* line 185, ../../sass/components/application.scss */
#application-form .action-button { width: 100px; background: #19a5a2; font-weight: bold; color: white; cursor: pointer; padding: 10px 5px; margin: 10px 0px 10px 5px; float: right; }

/* line 196, ../../sass/components/application.scss */
.invalid-feedback { font-size: 18px; }

/* line 200, ../../sass/components/application.scss */
#application-form .action-button:hover, #application-form .action-button:focus { background-color: #808080; }

/* line 205, ../../sass/components/application.scss */
#application-form .action-button-previous { width: 100px; background: #616161; font-weight: bold; color: white; cursor: pointer; padding: 10px 5px; margin: 10px 5px 10px 0px; float: right; }

/* line 216, ../../sass/components/application.scss */
#application-form .action-button-previous:hover, #application-form .action-button-previous:focus { background-color: #232323; }

/* line 221, ../../sass/components/application.scss */
.fs-title { font-size: 32px; color: #232323; font-weight: normal; text-align: left; }

/* line 228, ../../sass/components/application.scss */
.purple-text { color: #fe2911; font-weight: normal; }

/* line 233, ../../sass/components/application.scss */
.form-check-wrap { margin-left: 20px; padding-right: 20px; color: grey; }

/* line 240, ../../sass/components/application.scss */
.fieldlabels { color: gray; text-align: left; }

/* line 246, ../../sass/components/application.scss */
#progressbar #welcome:before { font-family: FontAwesome; content: ""; }

/* line 251, ../../sass/components/application.scss */
#progressbar #personal:before { font-family: FontAwesome; content: ""; }

/* line 256, ../../sass/components/application.scss */
#progressbar #payment:before { font-family: FontAwesome; content: ""; }

/* line 261, ../../sass/components/application.scss */
#progressbar #confirm:before { font-family: FontAwesome; content: ""; }

/* line 266, ../../sass/components/application.scss */
#progressbar #category:before { font-family: FontAwesome; content: ""; }

/* line 271, ../../sass/components/application.scss */
#progressbar #objectives:before { font-family: FontAwesome; content: ""; }

/* line 276, ../../sass/components/application.scss */
#progressbar #socials:before { font-family: FontAwesome; content: ""; }

/* line 281, ../../sass/components/application.scss */
#progressbar #contributions:before { font-family: FontAwesome; content: ""; }

/* line 286, ../../sass/components/application.scss */
#progressbar #confirmation:before { font-family: FontAwesome; content: ""; }

/* line 292, ../../sass/components/application.scss */
.progress-wrap h3 { font-family: 'AvenirNextW05-Demi'; font-size: 18px; margin-bottom: 10px; }
/* line 297, ../../sass/components/application.scss */
.progress-wrap .progress { margin-bottom: 20px; }

/* line 305, ../../sass/components/application.scss */
.fit-image { width: 100%; object-fit: cover; }

/* line 310, ../../sass/components/application.scss */
#overlay { position: fixed; top: 0; z-index: 100; width: 100%; height: 100%; display: none; background: rgba(0, 0, 0, 0.6); }

/* line 320, ../../sass/components/application.scss */
.cv-spinner { height: 100%; display: flex; justify-content: center; align-items: center; }

/* line 327, ../../sass/components/application.scss */
.spinner { width: 40px; height: 40px; border: 4px #ddd solid; border-top: 4px #2e93e6 solid; border-radius: 50%; animation: sp-anime 0.8s infinite linear; }

@keyframes sp-anime { 100% { transform: rotate(360deg); } }
/* line 342, ../../sass/components/application.scss */
.is-hide { display: none; }

/*---- Progress Bar ----*/
/* line 346, ../../sass/components/application.scss */
#progressbar { margin-bottom: 50px; overflow: hidden; color: lightgrey; }
/* line 351, ../../sass/components/application.scss */
#progressbar li.active { color: grey; }
/* line 354, ../../sass/components/application.scss */
#progressbar li.active:before { color: white; border: none; }
/* line 360, ../../sass/components/application.scss */
#progressbar li { list-style-type: none; font-size: 15px; width: 14%; float: left; position: relative; font-weight: 400; }
/* line 361, ../../sass/components/application.scss */
#progressbar li:before { width: 50px; height: 50px; line-height: 45px; display: block; font-size: 20px; color: #fe2911; border-radius: 50%; margin: 0 auto 10px auto; padding: 2px; border: 2px solid lightgrey; background-color: #F6F6F6; }

/* line 384, ../../sass/components/application.scss */
.progress { height: 20px; }

/* line 388, ../../sass/components/application.scss */
.progress-bar { background-color: #fe2911; }

/* line 392, ../../sass/components/application.scss */
#progressbar { margin-bottom: 50px; overflow: hidden; color: lightgrey; padding-left: 0; padding-right: 0; }
/* line 400, ../../sass/components/application.scss */
#progressbar li.active:before { color: white; border: none; background: #fe2911; }
/* line 406, ../../sass/components/application.scss */
#progressbar li.active:after { background: #fe2911; }
/* line 411, ../../sass/components/application.scss */
#progressbar li { list-style-type: none; font-size: 15px; width: 14.2%; float: left; position: relative; font-weight: 400; color: grey; }
/* line 420, ../../sass/components/application.scss */
#progressbar li:after { content: ''; width: 100%; height: 2px; background: lightgray; position: absolute; left: 0; top: 25px; z-index: -1; }

/* line 434, ../../sass/components/application.scss */
#application-form { /* Base for label styling */ /* checkbox aspect */ /* checked mark aspect */ /* checked mark aspect changes */ /* Disabled checkbox */ /* Accessibility */ }
/* line 436, ../../sass/components/application.scss */
#application-form [type="checkbox"]:not(:checked), #application-form [type="checkbox"]:checked { position: absolute; left: 0; opacity: 0.01; }
/* line 443, ../../sass/components/application.scss */
#application-form [type="checkbox"]:not(:checked) + label, #application-form [type="checkbox"]:checked + label { position: relative; padding-left: 2.3em; font-size: 1.05em; line-height: 1.7; cursor: pointer; }
/* line 452, ../../sass/components/application.scss */
#application-form [type="checkbox"]:not(:checked) + label:before, #application-form [type="checkbox"]:checked + label:before { content: ''; position: absolute; left: 0; top: 0; width: 1.4em; height: 1.4em; border: 1px solid #aaa; background: #FFF; border-radius: .2em; -webkit-transition: all .275s; transition: all .275s; }
/* line 468, ../../sass/components/application.scss */
#application-form [type="checkbox"]:not(:checked) + label:after, #application-form [type="checkbox"]:checked + label:after { content: '✕'; position: absolute; top: 0.625em; left: 0.18em; font-size: 1.275em; color: #1ca6a3; line-height: 0; -webkit-transition: all .2s; transition: all .2s; }
/* line 481, ../../sass/components/application.scss */
#application-form [type="checkbox"]:not(:checked) + label:after { opacity: 0; }
/* line 487, ../../sass/components/application.scss */
#application-form [type="checkbox"]:checked + label:after { opacity: 1; -webkit-transform: scale(1) rotate(0); transform: scale(1) rotate(0); }
/* line 493, ../../sass/components/application.scss */
#application-form [type="checkbox"]:disabled:not(:checked) + label:before, #application-form [type="checkbox"]:disabled:checked + label:before { box-shadow: none; border-color: #bbb; background-color: #e9e9e9; }
/* line 500, ../../sass/components/application.scss */
#application-form [type="checkbox"]:disabled:checked + label:after { color: #777; }
/* line 504, ../../sass/components/application.scss */
#application-form [type="checkbox"]:disabled + label { color: #aaa; }

/* line 516, ../../sass/components/application.scss */
form#confirmationForm [type="checkbox"]:not(:checked), form#confirmationForm [type="checkbox"]:checked { left: 47px; z-index: 100000000; height: 20px; cursor: pointer; }

/*# sourceMappingURL=application.css.map */
