/* line 1, ../../sass/components/hero.scss */
.hero { padding-top: 10%; padding-bottom: 12%; position: relative; }
/* line 6, ../../sass/components/hero.scss */
.hero a.cta, .hero div.hero-event-button a.cta { margin-top: 30px; }
/* line 10, ../../sass/components/hero.scss */
.hero .share-wrapper { margin-top: 20px; margin-bottom: 30px; display: block; }
/* line 15, ../../sass/components/hero.scss */
.hero .share-wrapper img { display: inline-block; }
/* line 21, ../../sass/components/hero.scss */
.hero.dark-image .share-toggle, .hero.dark-image a.link-arrow, .hero.dark-image h1, .hero.dark-image i { color: #fff !important; }
/* line 25, ../../sass/components/hero.scss */
.hero.dark-image p { color: #fff !important; }
/* line 28, ../../sass/components/hero.scss */
.hero.dark-image p.author, .hero.dark-image p.past-reading, .hero.dark-image p.top { color: #fff !important; }
/* line 33, ../../sass/components/hero.scss */
.hero.dark-image sup { color: #fff !important; }
/* line 37, ../../sass/components/hero.scss */
.hero.dark-image h1.animated span.text-animation { overflow: hidden; font-family: AvenirNextW05-Bold; background: linear-gradient(to right, #fff, #fff, #fff); background-size: 700% 400%; animation: type 4s linear; -webkit-background-clip: text; -webkit-text-fill-color: transparent; display: inline-block; -webkit-animation-fill-mode: forwards; line-height: initial; }
/* line 51, ../../sass/components/hero.scss */
.hero .background-image { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center; }
/* line 61, ../../sass/components/hero.scss */
.hero .background-image.desktop { display: block; }
/* line 65, ../../sass/components/hero.scss */
.hero .background-image.tablet { display: none; }
/* line 69, ../../sass/components/hero.scss */
.hero .background-image.mobile { display: block; }
/* line 74, ../../sass/components/hero.scss */
.hero select { width: 100%; }
/* line 78, ../../sass/components/hero.scss */
.hero .sitecore-overview-selects { margin-top: 20px; }
/* line 81, ../../sass/components/hero.scss */
.hero .sitecore-overview-selects a.cta { margin-top: 0; }
/* line 85, ../../sass/components/hero.scss */
.hero .sitecore-overview-selects select { border: none; padding-left: 15px; }
/* line 90, ../../sass/components/hero.scss */
.hero .sitecore-overview-selects .select-wrapper { display: inline-block; position: relative; width: 100%; }
/* line 95, ../../sass/components/hero.scss */
.hero .sitecore-overview-selects .select-wrapper:after { content: " "; width: 95%; height: 1px; position: absolute; bottom: -1px; right: 0; border-bottom: 1px dotted #707070; }
/* line 107, ../../sass/components/hero.scss */
.hero .submit-button { margin-top: 40px; }
/* line 111, ../../sass/components/hero.scss */
.hero p { font-size: 18px; color: #707070; line-height: 39px; width: 58%; }
/* line 117, ../../sass/components/hero.scss */
.hero p.top { font-weight: 900; font-size: 14px; color: #666; letter-spacing: 2.8px; text-transform: uppercase; }
/* line 125, ../../sass/components/hero.scss */
.hero p.author, .hero p.past-reading { font-size: 14px; line-height: 20px; }
/* line 130, ../../sass/components/hero.scss */
.hero p.author { font-family: AvenirNextW05-Demi; margin-top: 40px; margin-bottom: 0; }
/* line 137, ../../sass/components/hero.scss */
.hero .headline-image { max-width: 400px; margin-top: 15px; }
/* line 142, ../../sass/components/hero.scss */
.hero h1 { font-size: 60px; font-weight: 900; line-height: 60px; margin-bottom: 20px; position: relative; }
/* line 149, ../../sass/components/hero.scss */
.hero h1.static { width: 50%; margin-bottom: 0; word-break: break-word; }
/* line 154, ../../sass/components/hero.scss */
.hero h1.static + p { margin-top: 15px; }
/* line 158, ../../sass/components/hero.scss */
.hero h1.static:after { content: " "; background-image: url(../images/icon-hero.png); position: absolute; width: 76px; height: 53px; top: -9px; left: -93px; }
/* line 170, ../../sass/components/hero.scss */
.hero img { display: block; width: auto; }
/* line 175, ../../sass/components/hero.scss */
.hero h1.animated { min-height: 82px; }
/* line 178, ../../sass/components/hero.scss */
.hero h1.animated span.text-animation { overflow: hidden; font-family: AvenirNextW05-Bold; background: linear-gradient(to right, #000, transparent, transparent); background-size: 700% 400%; animation: type 4s linear; -webkit-background-clip: text; -webkit-text-fill-color: transparent; display: inline-block; -webkit-animation-fill-mode: forwards; line-height: initial; }
/* line 192, ../../sass/components/hero.scss */
.hero.medium { padding-top: 40px; background-image: url(../images/hero-plus-pattern.png); background-repeat: no-repeat; background-position: right 12px; background-size: 530px; padding-bottom: 20px; }
/* line 200, ../../sass/components/hero.scss */
.hero.medium .container { min-height: 400px; }
/* line 204, ../../sass/components/hero.scss */
.hero.medium .background-image { display: none !important; }
/* line 208, ../../sass/components/hero.scss */
.hero.medium .col-12 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; min-height: 300px; }
/* line 215, ../../sass/components/hero.scss */
.hero.medium h1 { font-size: 48px; line-height: 55px; width: 100%; }
/* line 220, ../../sass/components/hero.scss */
.hero.medium h1:after { top: -12px; }
/* line 225, ../../sass/components/hero.scss */
.hero.medium p { width: 90%; margin-bottom: 0; }
/* line 229, ../../sass/components/hero.scss */
.hero.medium p.top { margin-bottom: 20px; }
/* line 234, ../../sass/components/hero.scss */
.hero.medium .image { padding-top: 15px; background-image: none !important; }
/* line 238, ../../sass/components/hero.scss */
.hero.medium .image .outer { position: relative; width: 100%; }
/* line 243, ../../sass/components/hero.scss */
.hero.medium .image .wrapper { display: inline-block; -ms-transform: translateX(-50%); transform: translateX(0); margin-bottom: -90px; }
/* line 249, ../../sass/components/hero.scss */
.hero.medium .image .wrapper img { max-width: 504px; }
/* line 252, ../../sass/components/hero.scss */
.hero.medium .image .wrapper img.video-play-button { position: absolute; top: 40%; left: 45%; width: 70px; cursor: pointer; filter: drop-shadow(5px 5px 3px #000); }
/* line 262, ../../sass/components/hero.scss */
.hero.medium .image .wrapper:after { display: block; content: " "; position: absolute; width: 87px; height: 87px; top: -10px; right: -10px; border-top: 10px solid #fe2911; border-right: 10px solid #fe2911; }
/* line 277, ../../sass/components/hero.scss */
.hero.small { padding-top: 50px; padding-bottom: 50px; }
/* line 281, ../../sass/components/hero.scss */
.hero.small .background-image { display: none !important; }
/* line 285, ../../sass/components/hero.scss */
.hero.small h1 { font-size: 48px; line-height: 55px; width: 100%; }
/* line 290, ../../sass/components/hero.scss */
.hero.small h1:after { top: -12px; }
/* line 295, ../../sass/components/hero.scss */
.hero.small .col-lg-8 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

@media (min-width: 768px) { /* line 304, ../../sass/components/hero.scss */
  .hero div.hero-event-button a.cta { display: none; } }
@media (max-width: 767.98px) { /* line 310, ../../sass/components/hero.scss */
  .hero { padding-top: 15px; padding-bottom: 250px; }
  /* line 315, ../../sass/components/hero.scss */
  .hero.has-personalization .personalized-content div.panel-header { top: 0; }
  /* line 319, ../../sass/components/hero.scss */
  .hero.has-personalization .personalized-content .copy-container { top: 15px; } }
@media (max-width: 1199.98px) { /* line 328, ../../sass/components/hero.scss */
  .hero .background-image.desktop { display: none; }
  /* line 332, ../../sass/components/hero.scss */
  .hero .background-image.tablet { display: block; } }
@media (max-width: 767.98px) { /* line 340, ../../sass/components/hero.scss */
  .hero .background-image.tablet { display: none; }
  /* line 344, ../../sass/components/hero.scss */
  .hero .sitecore-overview-selects .col-12 { margin-bottom: 30px; } }
@media (min-width: 768px) { /* line 351, ../../sass/components/hero.scss */
  .hero .background-image.mobile { display: none; } }
@media (max-width: 1199.98px) { /* line 357, ../../sass/components/hero.scss */
  .hero .sitecore-overview-selects select { width: 100%; padding-right: 25px; margin: 10px 3px 10px 0; } }
@media (max-width: 767.98px) { /* line 367, ../../sass/components/hero.scss */
  .hero .sitecore-overview-selects select { padding-left: 0; margin-left: 0; }
  /* line 372, ../../sass/components/hero.scss */
  .hero .sitecore-overview-selects .select-wrapper:after { width: 100%; right: auto; left: 0; }
  /* line 379, ../../sass/components/hero.scss */
  .hero .submit-button { margin-top: 0; }
  /* line 382, ../../sass/components/hero.scss */
  .hero .submit-button a, .hero .submit-button button { text-align: center; width: 100%; } }
@media (max-width: 991.98px) { /* line 391, ../../sass/components/hero.scss */
  .hero p { width: 60%; font-size: 16px; line-height: 33px; } }
@media (max-width: 991.98px) { /* line 400, ../../sass/components/hero.scss */
  .hero p.top { font-size: 10px; letter-spacing: 2px; margin-bottom: 0; }
  /* line 406, ../../sass/components/hero.scss */
  .hero p.author { margin-bottom: 0; } }
@media (max-width: 767.98px) { /* line 414, ../../sass/components/hero.scss */
  .hero p { width: 100%; }
  /* line 418, ../../sass/components/hero.scss */
  .hero .headline-image { margin-top: 40px; } }
@media (max-width: 1199.98px) { /* line 426, ../../sass/components/hero.scss */
  .hero .sitecore-overview-selects .select-wrapper:after { bottom: 9px; }
  /* line 430, ../../sass/components/hero.scss */
  .hero h1.static { width: 75%; } }
@media (max-width: 991.98px) { /* line 438, ../../sass/components/hero.scss */
  .hero .headline-image { max-width: 300px; }
  /* line 442, ../../sass/components/hero.scss */
  .hero h1 { font-size: 36px; line-height: 44px; }
  /* line 446, ../../sass/components/hero.scss */
  .hero h1.static { width: 60%; }
  /* line 449, ../../sass/components/hero.scss */
  .hero h1.static:after { display: none; } }
@media (max-width: 767.98px) { /* line 458, ../../sass/components/hero.scss */
  .hero h1.static { width: 100%; } }
@keyframes type { 0% { background-position: 100% 50%; opacity: 1; }
  60%,
      80% { background-position: 0 50%; opacity: 1; }
  100% { opacity: 0; } }
@media (max-width: 991.98px) { /* line 481, ../../sass/components/hero.scss */
  .hero h1.animated { min-height: 53px; } }
@media (max-width: 1199.98px) { /* line 487, ../../sass/components/hero.scss */
  .hero.medium { background-image: none; padding-bottom: 40px; }
  /* line 488, ../../sass/components/hero.scss */
  .hero.medium .container { min-height: auto; } }
@media (max-width: 767.98px) { /* line 499, ../../sass/components/hero.scss */
  .hero.medium .col-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; min-height: 0; }
  /* line 506, ../../sass/components/hero.scss */
  .hero.medium h1 { font-size: 28px; line-height: 35px; }
  /* line 511, ../../sass/components/hero.scss */
  .hero.medium p { width: 100%; margin-bottom: 15px; }
  /* line 515, ../../sass/components/hero.scss */
  .hero.medium p.author { margin-bottom: 0; } }
@media (min-width: 768px) { /* line 523, ../../sass/components/hero.scss */
  .hero.medium .image.hasBackground .wrapper { width: 500px; height: 400px; background: #fff; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; box-shadow: -2px 4px 5px 5px #e1e1e1; }
  /* line 535, ../../sass/components/hero.scss */
  .hero.medium .image.hasBackground .wrapper img { width: 300px; max-height: 100%; } }
@media (max-width: 1199.98px) { /* line 543, ../../sass/components/hero.scss */
  .hero.medium .image.hasBackground .wrapper { width: auto; height: 300px; } }
@media (max-width: 767.98px) { /* line 551, ../../sass/components/hero.scss */
  .hero.medium .image.hasBackground .wrapper { width: auto; height: auto; }
  /* line 556, ../../sass/components/hero.scss */
  .hero.medium .image .outer { min-height: 200px; } }
@media (max-width: 575.98px) { /* line 563, ../../sass/components/hero.scss */
  .hero.medium .image .outer { min-height: 0; } }
@media (max-width: 1199.98px) { /* line 569, ../../sass/components/hero.scss */
  .hero.medium .image .wrapper { display: block; position: static; width: 100%; -ms-transform: none; transform: none; -webkit-transform: none; left: auto; margin-bottom: -77px; }
  /* line 579, ../../sass/components/hero.scss */
  .hero.medium .image .wrapper img { width: 100%; max-width: 100%; } }
@media (max-width: 767.98px) { /* line 587, ../../sass/components/hero.scss */
  .hero.medium .image .wrapper img.video-play-button { top: 37%; left: 42%; width: 50px; } }
@media (min-width: 768px) { /* line 595, ../../sass/components/hero.scss */
  .hero.medium .image .wrapper:after { width: 250px; height: 250px; top: -15px; right: -15px; border-top: 15px solid #fe2911; border-right: 15px solid #fe2911; } }
@media (max-width: 767.98px) { /* line 606, ../../sass/components/hero.scss */
  .hero.small { padding-bottom: 10px; }
  /* line 609, ../../sass/components/hero.scss */
  .hero.small h1 { font-size: 28px; line-height: 35px; } }

/*# sourceMappingURL=hero.css.map */
