/* Brand Colors */
/* Site Colors */
/* line 18, ../../sass/components/layout.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 23, ../../sass/components/layout.scss */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* line 27, ../../sass/components/layout.scss */
body {
  margin-bottom: 56px;
  /* Margin bottom by footer height */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  color: #212529;
  background-color: #ffffff;
}

/* Default Fonts */
/* line 39, ../../sass/components/layout.scss */
* {
  font-family: AvenirNextW05-Medium;
}

/* line 43, ../../sass/components/layout.scss */
p, select {
  font-family: AvenirNextW05-Regular;
  color: #707070;
  font-size: 18px;
}

/* line 49, ../../sass/components/layout.scss */
i {
  font-family: AvenirNextW05-Italic;
  color: #707070;
}

/* line 54, ../../sass/components/layout.scss */
h1, h2, h3, h4 {
  color: #232323;
  font-weight: 900;
  font-family: AvenirNextW05-Bold;
}

/* line 60, ../../sass/components/layout.scss */
h1 {
  font-size: 48px;
  line-height: 50px;
}

/* line 65, ../../sass/components/layout.scss */
h2 {
  font-size: 36px;
}

@media (max-width: 767.98px) {
  /* line 70, ../../sass/components/layout.scss */
  h2 {
    font-size: 22px;
  }
}
/* line 75, ../../sass/components/layout.scss */
h3 {
  font-size: 24px;
}

/* line 79, ../../sass/components/layout.scss */
h4 {
  font-size: 18px;
}

@media (max-width: 767.98px) {
  /* line 84, ../../sass/components/layout.scss */
  h3 {
    font-size: 18px;
  }

  /* line 88, ../../sass/components/layout.scss */
  h4 {
    font-size: 16px;
  }
}
/* Colors */
/* line 94, ../../sass/components/layout.scss */
.bg-teal {
  background: #1ca6a3;
  color: #ffffff;
}

/* line 99, ../../sass/components/layout.scss */
.bg-gray4 {
  background: #707070;
  color: #ffffff;
}

/* line 104, ../../sass/components/layout.scss */
div.background-white,
section.background-white {
  background-color: #ffffff;
}

/* line 109, ../../sass/components/layout.scss */
div.background-grey,
section.background-grey {
  background-color: #F6F6F6;
}

/* line 114, ../../sass/components/layout.scss */
#topbar {
  background: #666;
  font-size: 0.9em;
  height: 40px;
}
/* line 119, ../../sass/components/layout.scss */
#topbar a:link, #topbar a:visited {
  color: #ffffff;
  padding: 10px 18px 7px;
}
/* line 125, ../../sass/components/layout.scss */
#topbar a.dropdown-item:link, #topbar a.dropdown-item:visited {
  color: #333333;
}

/* line 131, ../../sass/components/layout.scss */
header {
  position: relative;
  z-index: 10000;
}

/* line 136, ../../sass/components/layout.scss */
.main-nav {
  padding-top: 25px;
  padding-bottom: 35px;
}
/* line 140, ../../sass/components/layout.scss */
.main-nav #main-menu {
  padding: 0px;
}
/* line 143, ../../sass/components/layout.scss */
.main-nav #main-menu nav.navbar {
  padding: 0px;
}
/* line 147, ../../sass/components/layout.scss */
.main-nav #main-menu nav.navbar li.nav-item a {
  font-size: 1.2em;
  font-weight: 600;
  color: #000000;
}
/* line 153, ../../sass/components/layout.scss */
.main-nav #main-menu nav.navbar li.nav-item a.dropdown-item {
  font-size: 1.0em;
  font-weight: 400;
  color: #000000;
}
/* line 158, ../../sass/components/layout.scss */
.main-nav #main-menu nav.navbar li.nav-item a.dropdown-item:hover {
  text-decoration: underline;
  background: none;
}

/* line 169, ../../sass/components/layout.scss */
main #content {
  background-color: #F6F6F6;
}

/* line 174, ../../sass/components/layout.scss */
.fixed-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  /* Set the fixed height of the footer here */
}
/* line 179, ../../sass/components/layout.scss */
.fixed-footer .footer-copyright {
  font-size: 0.9em;
}
/* line 182, ../../sass/components/layout.scss */
.fixed-footer .footer-copyright a:link, .fixed-footer .footer-copyright a:visited {
  color: #ffffff;
  margin: 3px;
}
/* line 189, ../../sass/components/layout.scss */
.fixed-footer .footer-social-link:link, .fixed-footer .footer-social-link:visited, .fixed-footer .footer-social-link i {
  color: #ffffff;
  margin: 0px 5px;
}
