/* line 1, ../../sass/components/video.scss */
.autoplay-video { padding-top: 100px; padding-bottom: 50px; }
/* line 6, ../../sass/components/video.scss */
.autoplay-video.has-personalization .personalized-content div.panel-header { top: -110px; }
/* line 10, ../../sass/components/video.scss */
.autoplay-video.has-personalization .personalized-content .copy-container { top: -95px; }
/* line 15, ../../sass/components/video.scss */
.autoplay-video .container { position: relative; }
/* line 19, ../../sass/components/video.scss */
.autoplay-video .text { top: 0; opacity: 0; width: 53%; background-color: #fff; z-index: 3; padding: 60px 60px 60px 75px; }
/* line 27, ../../sass/components/video.scss */
.autoplay-video .text .overlap { height: 100%; position: absolute; top: 0; background: #fff; right: -57px; width: 58px; }
/* line 36, ../../sass/components/video.scss */
.autoplay-video .text h2 { line-height: 45px; margin-bottom: 20px; }
/* line 41, ../../sass/components/video.scss */
.autoplay-video .text p { font-size: 18px; color: #707070; line-height: 40px; margin-bottom: 0; }
/* line 49, ../../sass/components/video.scss */
.autoplay-video .video { z-index: 4; }
/* line 53, ../../sass/components/video.scss */
.autoplay-video .thumbnail { cursor: pointer; }
/* line 56, ../../sass/components/video.scss */
.autoplay-video .thumbnail .play-button-wrapper { width: 100%; height: 100%; position: absolute; top: 0; }
/* line 63, ../../sass/components/video.scss */
.autoplay-video .thumbnail img { width: 100%; }
/* line 66, ../../sass/components/video.scss */
.autoplay-video .thumbnail img.play-button { width: 70px; height: auto; display: block; margin-left: auto; margin-right: auto; padding-top: 25%; filter: drop-shadow(5px 5px 3px #000); }
/* line 78, ../../sass/components/video.scss */
.autoplay-video + .cta-overlapped-image { padding-top: 0; }

@media (max-width: 991.98px) { /* line 84, ../../sass/components/video.scss */
  .autoplay-video { padding-top: 50px; padding-bottom: 50px; }
  /* line 88, ../../sass/components/video.scss */
  .autoplay-video.has-personalization .personalized-content div.panel-header { top: -60px; } }
@media (max-width: 991.98px) { /* line 96, ../../sass/components/video.scss */
  .autoplay-video.has-personalization .personalized-content .copy-container { top: -40px; }
  /* line 100, ../../sass/components/video.scss */
  .autoplay-video .row { -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin: 0; }
  /* line 106, ../../sass/components/video.scss */
  .autoplay-video .text .overlap { display: none; } }
@media (max-width: 1199.98px) { /* line 113, ../../sass/components/video.scss */
  .autoplay-video .text { padding-right: 84px; } }
@media (max-width: 991.98px) { /* line 119, ../../sass/components/video.scss */
  .autoplay-video .text { opacity: 1 !important; top: 0 !important; width: 100%; position: static; -ms-flex: 0 0 100%; flex: 0 0 100%; padding: 20px 15px; } }
@media (max-width: 1199.98px) { /* line 131, ../../sass/components/video.scss */
  .autoplay-video .text h2 { line-height: 30px; font-size: 22px; } }
@media (max-width: 767.98px) { /* line 138, ../../sass/components/video.scss */
  .autoplay-video .thumbnail img.play-button { width: 40px; } }
@media (max-width: 1199.98px) { /* line 144, ../../sass/components/video.scss */
  .autoplay-video .text p { font-size: 16px; line-height: 30px; } }

/*# sourceMappingURL=video.css.map */
