/* line 2, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .container, .cta-overlapped-image .row.justify-content-end { position: relative; }

@media (max-width: 991.98px) { /* line 9, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .row { -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin: 0; } }
/* line 16, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image { padding-top: 50px; padding-bottom: 50px; }
/* line 20, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image.background-white .text { box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }
/* line 24, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .floated { position: absolute; top: 90px; left: 15px; z-index: 3; opacity: 0; }
/* line 31, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .floated img { width: 100%; }
/* line 36, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image h2 { margin-bottom: 30px; }
/* line 40, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .col-lg-7 { padding-top: 140px; z-index: 5; }
/* line 44, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .col-lg-7 .text { position: relative; }
/* line 47, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .col-lg-7 .text:after { display: block; content: " "; width: 175px; height: 175px; position: absolute; top: -15px; left: -15px; border-top: 15px solid #fe2911; border-left: 15px solid #fe2911; }
/* line 61, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .text { padding: 50px 50px 66px; background-color: #fff; }
/* line 65, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .text p { font-size: 18px; font-weight: 400; color: #707070; letter-spacing: 0; margin-bottom: 20px; display: block; }
/* line 74, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .text h3 { margin-bottom: 40px; }
/* line 78, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image .text .cta, .cta-overlapped-image .text .link-arrow { float: none; display: inline-block; }
/* line 84, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image.reverse { padding-top: 50px; padding-bottom: 50px; background-repeat: no-repeat; background-position: right 20% top 167px; }
/* line 91, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image.reverse .row { -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
/* line 96, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image.reverse .col-lg-7.div-left { padding-top: 50px; z-index: 3; opacity: 0; }
/* line 101, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image.reverse .col-lg-7.div-left .text { padding: 100px; padding-right: calc((((5 / 7) * 100%) + 30px) * 0.35); }
/* line 105, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image.reverse .col-lg-7.div-left .text:after { border-top: none; border-left: none; }
/* line 112, ../../sass/components/cta-overlapped-image.scss */
.cta-overlapped-image.reverse .col-lg-5 { margin: 0; padding: 0; z-index: 5; }

@media (max-width: 1199.98px) { /* line 121, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .floated { padding-left: 15px; padding-right: 15px; left: 0; }
  /* line 126, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .floated img { width: 85%; } }
@media (max-width: 991.98px) { /* line 133, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .floated { padding-left: 0; padding-right: 0; top: -130px !important; opacity: 1 !important; -ms-flex: 0 0 100%; flex: 0 0 100%; position: static; }
  /* line 142, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .floated img { width: 80%; } }
@media (max-width: 767.98px) { /* line 149, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .floated img { width: 100%; } }
@media (max-width: 991.98px) { /* line 155, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .col-lg-7 { padding: 0 0 50px; }
  /* line 158, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .col-lg-7 .text { width: 80%; margin-left: 20%; } }
@media (max-width: 767.98px) { /* line 166, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .col-lg-7 .text { width: 100%; margin-left: 0; } }
@media (max-width: 991.98px) { /* line 174, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .col-lg-7 .text:after { width: 70px; height: 70px; top: -8px; left: -8px; border-top: 8px solid #fe2911; border-left: 8px solid #fe2911; }
  /* line 183, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .text { padding: 20px 15px 50px; }
  /* line 186, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .text h3 { margin-bottom: 20px; } }
@media (max-width: 1492px) { /* line 194, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse { background-position: right 15% top 167px; } }
@media (max-width: 1350px) { /* line 200, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse { background-position: right 13% top 167px; } }
@media (max-width: 1250px) { /* line 206, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse { background-position: right 11% top 167px; } }
@media (max-width: 1199.98px) { /* line 212, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse { background-position: right 4% top 167px; } }
@media (max-width: 767.98px) { /* line 219, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image .text a.cta { width: 100%; text-align: center; min-width: 0; }
  /* line 225, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-7.div-left { padding-bottom: 0; } }
@media (max-width: 991.98px) { /* line 232, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse { background-position: right 1% top 91%; background-size: 53%; }
  /* line 236, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .row { -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin: 0; }
  /* line 242, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-7.div-left { opacity: 1 !important; }
  /* line 245, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-7.div-left .text { width: 80%; margin-left: 0; margin-bottom: 0; opacity: 1 !important; padding: 50px 60px 150px 15px; } }
@media (max-width: 767.98px) { /* line 257, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-7.div-left .text { width: 100%; padding-right: 15px; padding-bottom: 50px; opacity: 1 !important; } }
@media (min-width: 992px) { /* line 266, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-5 { -ms-transform: translate(-35%, 25%); transform: translate(-35%, 25%); } }
@media (max-width: 991.98px) { /* line 273, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-5 { margin-top: 0; -ms-transform: translateY(-80px); transform: translateY(-80px); }
  /* line 278, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-5 img { width: 80%; margin-left: 20%; } }
@media (max-width: 767.98px) { /* line 286, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-5 { margin-top: 0; -ms-transform: none; transform: none; }
  /* line 291, ../../sass/components/cta-overlapped-image.scss */
  .cta-overlapped-image.reverse .col-lg-5 img { width: 100%; margin-left: 0; } }

/*# sourceMappingURL=cta-overlapped-image.css.map */
