@model Mvp.Foundation.People.Models.MVPYear
<div class="row component column-splitter">
	<div class="col-sm-12 col-md-8">
		<div class="component accordion col-xs-12 accordion-mvp initialized">
			<div class="component-content">
				<div>
					<ul class="items">
						@foreach (var country in Model.Countries)
						{
						<li class="item">
							<div class="toggle-header" tabindex="0">
								<div class="label">
									<div class="component content col-xs-12">
										<div class="component-content">
											<div class="field-heading">@country.Name</div>
										</div>
									</div>
								</div>
							</div>
							<div class="toggle-content" style="">
								<div class="component content col-xs-12">
									<div class="component-content">
										<div class="field-content">
											<ul>
												@foreach(var category in country.Categories)
												{
												<li>
													<strong>@category.Name</strong>
													<ul>
														@foreach (var person in category.People)
														{
															<li>@person.Name</li>
														}
													</ul>
												</li>
												}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
	</div>
</div>