<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="mvp-site"
            inherits="website"
            hostName="mvp-cd.sc.localhost"
            rootPath="/sitecore/content/MvpSite"
            dictionaryDomain="{DB704D9E-113D-44A1-AA85-2A5D127CD2A3}"
            patch:before="site[@name='website']" />
    </sites>
  </sitecore>
</configuration>