<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="mvp-site"
            inherits="website"
            hostName="mvp-cd.sc.localhost"
            rootPath="/sitecore/content/MvpSite"
            dictionaryDomain="{92EF3E95-4CB2-411A-8990-66E63D37A5AB}"
            patch:before="site[@name='website']" />
    </sites>
  </sitecore>
</configuration>