<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
	  <WebPublishMethod>FileSystem</WebPublishMethod>
	  <PublishProvider>FileSystem</PublishProvider>
	  <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
	  <LastUsedPlatform>Any CPU</LastUsedPlatform>
	  <SiteUrlToLaunchAfterPublish />
	  <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
	  <ExcludeApp_Data>False</ExcludeApp_Data>
	  <publishUrl>..\..\..\docker\deploy\identity</publishUrl>
	  <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
</Project>