<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="mvp-site"
            inherits="website"
            hostName="$(env:Sitecore__ExternalCdUrl)"
            rootPath="/sitecore/content/MvpSite"
            dictionaryDomain="{DB704D9E-113D-44A1-AA85-2A5D127CD2A3}"
            scheme="https"
            patch:before="site[@name='website']" />
    </sites>
    <javaScriptServices>
      <apps>
        <!--
          We need to configure an 'app' for the site as well in order to
          enable support for Experience Editor. The URL below will be used
          by the Experience Editor to render pages for editing.
        -->
        <app name="mvp-site"
             sitecorePath="/sitecore/content/MvpSite"
             serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="http://mvp-rendering/jss-render"
             inherits="defaults" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>