# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - main

resources:
- repo: self
  clean: true

variables:
  # Agent VM image name
  vmImageName: 'windows-latest'

stages:
- stage: Build
  displayName: Build Images + Push to ACR
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: DockerCompose@0
      displayName: "Build Images"
      inputs:
        containerregistrytype: 'Container Registry'
        dockerRegistryEndpoint: 'MVPSiteV2'
        dockerComposeFile: '**/docker-compose.yml'
        additionalDockerComposeFiles: 'docker-compose.override.yml'
        dockerComposeFileArgs: '$(DOCKER_COMPOSE_ARGS)'
        qualifyImageNames: false
        action: 'Build services'
        additionalImageTags: '$(Build.BuildNumber)-$(Build.SourceBranchName)'
        includeLatestTag: true
    - task: DockerCompose@0
      displayName: "Push Images with Latest Tag"
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: '$(AZURE_SUBSCRIPTION)'
        azureContainerRegistry: '$(AZURE_CONTAINER_REGISTRY)'
        dockerComposeFile: '**/docker-compose.yml'
        additionalDockerComposeFiles: 'docker-compose.override.yml'
        dockerComposeFileArgs: '$(DOCKER_COMPOSE_ARGS)'
        action: 'Push services'
        additionalImageTags: '$(Build.BuildNumber)-$(Build.SourceBranchName)'
        includeLatestTag: true
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    - task: CopyFiles@2
      displayName: "Copy K8s specifications to staging directory"
      inputs:
        SourceFolder: 'k8s/specs'
        Contents: '**'
        TargetFolder: '$(Build.ArtifactStagingDirectory)/k8s-specs'
        CleanTargetFolder: true
    - task: CopyFiles@2
      displayName: "Copy Serialisation assets to staging directory"
      inputs:
        SourceFolder: './'
        Contents: |
          sitecore.json
          src/**/*.module.json
          src/**/items/**
          .config/dotnet-tools.json
        TargetFolder: '$(Build.ArtifactStagingDirectory)/serialization'
        CleanTargetFolder: true
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(System.ArtifactsDirectory)'
        artifact: 'Sitecore.MVP-$(Build.BuildNumber)'

- stage: Staging
  condition:  and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  dependsOn: Build
  displayName: Deploy to Staging
  jobs:
  - deployment: 'Deploy_Specs_to_Staging_AKS'
    pool:
      vmImage: $(vmImageName)
    environment: Staging
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: "Download Build Artifact"
            inputs:
              artifact: Sitecore.MVP-$(Build.BuildNumber)
              targetPath: '$(System.ArtifactsDirectory)'
          - task: Kubernetes@1
            displayName: Create MVP-Staging Namespace
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: '$(AKS_SERVICE_ENDPOINT)'
              command: 'apply'
              useConfigurationFile: true
              configuration: '$(System.ArtifactsDirectory)/k8s-specs/staging/namespaces/namespace-staging.yaml'
              secretType: 'dockerRegistry'
              containerRegistryType: 'Azure Container Registry'
              outputFormat: ''
          - task: replacetokens@3
            displayName: "Replace Tokens in Secrets & Specs"
            inputs:
              rootDirectory: '$(System.ArtifactsDirectory)/k8s-specs/staging'
              targetFiles: |
                **/*.txt
                **/*.crt
                **/*.key
                **/*.yaml
              encoding: 'auto'
              writeBOM: true
              actionOnMissing: 'warn'
              keepToken: true
              tokenPrefix: '$('
              tokenSuffix: ')'
              useLegacyPattern: false
              enableTelemetry: false
          - task: KubernetesManifest@0
            displayName: Bake Secrets
            name: 'bake_secrets'
            inputs:
              action: 'bake'
              renderType: 'kustomize'
              kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/staging/secrets/'
          - task: KubernetesManifest@0
            displayName: Deploy Secrets
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
              namespace: 'mvp-staging'
              manifests: '$(bake_secrets.manifestsBundle)'
          - task: KubernetesManifest@0
            displayName: Bake Ingress Specifications
            name: 'bake_ingress'
            inputs:
              action: 'bake'
              renderType: 'kustomize'
              kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/staging/ingress-nginx/'
          - task: KubernetesManifest@0
            displayName: Deploy Ingress Specifications
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
              namespace: 'mvp-staging'
              manifests: '$(bake_ingress.manifestsBundle)'
          - task: KubernetesManifest@0
            displayName: Bake External Specifications
            name: 'bake_external'
            inputs:
              action: 'bake'
              renderType: 'kustomize'
              kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/staging/external/'
          - task: KubernetesManifest@0
            displayName: Deploy External Specifications
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
              namespace: 'mvp-staging'
              manifests: '$(bake_external.manifestsBundle)'
          # - task: KubernetesManifest@0
          #   displayName: Bake Init Specifications
          #   name: 'bake_init'
          #   inputs:
          #     action: 'bake'
          #     renderType: 'kustomize'
          #     kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/staging/init/'
          # - task: KubernetesManifest@0
          #   displayName: Deploy Init Specifications
          #   inputs:
          #     action: 'deploy'
          #     kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
          #     namespace: 'mvp-staging'
          #     manifests: '$(bake_init.manifestsBundle)'
          - task: KubernetesManifest@0
            displayName: Bake Application Specifications
            name: 'bake_application'
            inputs:
              action: 'bake'
              renderType: 'kustomize'
              kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/staging'
          - task: KubernetesManifest@0
            displayName: Deploy Application Specifications
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
              namespace: 'mvp-staging'
              manifests: '$(bake_application.manifestsBundle)'
  - deployment: 'Deserialize_Content_to_Staging'
    dependsOn: 'Deploy_Specs_to_Staging_AKS'
    pool:
      vmImage: $(vmImageName)
    environment: Staging
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: "Download Build Artifact"
            inputs:
              artifact: Sitecore.MVP-$(Build.BuildNumber)
              targetPath: '$(System.ArtifactsDirectory)'
          - task: PowerShell@2
            displayName: Deserialize Content
            inputs:
              targetType: 'inline'
              script: |
                # Add nuget source & install Sitecore CLI
                Write-Host "Installing Sitecore CLI"
                dotnet nuget add source $(SITECORE_PUBLIC_NUGET_FEED) --name "Sitecore-Public-Nuget-Feed"
                dotnet tool restore
                
                # Login to ID Server
                Write-Host "Logging into ID Server"
                dotnet sitecore login --client-credentials true --auth $(STAGING_ID_SERVER_URL) --cm $(STAGING_CM_URL) --allow-write true --client-id "MVP_Automation" --client-secret "$(STAGING_IDENTITY_SECRET_MVP)"
                
                # Deserialize Content
                Write-Host "Push Content"
                dotnet sitecore ser push
                
                # Publish Database
                Write-Host "Publish Database"
                dotnet sitecore publish
              workingDirectory: '$(System.ArtifactsDirectory)/serialization'

- stage: Production
  condition:  and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  dependsOn: Staging
  displayName: Deploy to Production
  jobs:
  - deployment: 'Deploy_Specs_to_Production_AKS'
    pool:
      vmImage: $(vmImageName)
    environment: Production
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: "Download Build Artifact"
            inputs:
              artifact: Sitecore.MVP-$(Build.BuildNumber)
              targetPath: '$(System.ArtifactsDirectory)'
          - task: Kubernetes@1
            displayName: Create MVP-Production Namespace
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: '$(AKS_SERVICE_ENDPOINT)'
              command: 'apply'
              useConfigurationFile: true
              configuration: '$(System.ArtifactsDirectory)/k8s-specs/prod/namespaces/namespace-prod.yaml'
              secretType: 'dockerRegistry'
              containerRegistryType: 'Azure Container Registry'
              outputFormat: ''
          - task: replacetokens@3
            displayName: "Replace Tokens in Secrets & Specs"
            inputs:
              rootDirectory: '$(System.ArtifactsDirectory)/k8s-specs/prod'
              targetFiles: |
                **/*.txt
                **/*.crt
                **/*.key
                **/*.yaml
              encoding: 'auto'
              writeBOM: true
              actionOnMissing: 'warn'
              keepToken: true
              tokenPrefix: '$('
              tokenSuffix: ')'
              useLegacyPattern: false
              enableTelemetry: false
          - task: KubernetesManifest@0
            displayName: Bake Secrets
            name: 'bake_secrets'
            inputs:
              action: 'bake'
              renderType: 'kustomize'
              kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/prod/secrets/'
          - task: KubernetesManifest@0
            displayName: Deploy Secrets
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
              namespace: 'mvp-prod'
              manifests: '$(bake_secrets.manifestsBundle)'
          - task: KubernetesManifest@0
            displayName: Bake Ingress Specifications
            name: 'bake_ingress'
            inputs:
              action: 'bake'
              renderType: 'kustomize'
              kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/prod/ingress-nginx/'
          - task: KubernetesManifest@0
            displayName: Deploy Ingress Specifications
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
              namespace: 'mvp-prod'
              manifests: '$(bake_ingress.manifestsBundle)'
          - task: KubernetesManifest@0
            displayName: Bake Application Specifications
            name: 'bake_application'
            inputs:
              action: 'bake'
              renderType: 'kustomize'
              kustomizationPath: '$(System.ArtifactsDirectory)/k8s-specs/prod'
          - task: KubernetesManifest@0
            displayName: Deploy Application Specifications
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: '$(AKS_SERVICE_ENDPOINT)'
              namespace: 'mvp-prod'
              manifests: '$(bake_application.manifestsBundle)'
  - deployment: 'Deserialize_Content_to_Production'
    dependsOn: 'Deploy_Specs_to_Production_AKS'
    pool:
      vmImage: $(vmImageName)
    environment: Production
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: "Download Build Artifact"
            inputs:
              artifact: Sitecore.MVP-$(Build.BuildNumber)
              targetPath: '$(System.ArtifactsDirectory)'
          - task: PowerShell@2
            displayName: Deserialize Content
            inputs:
              targetType: 'inline'
              script: |
                # Add nuget source & install Sitecore CLI
                Write-Host "Installing Sitecore CLI"
                dotnet nuget add source $(SITECORE_PUBLIC_NUGET_FEED) --name "Sitecore-Public-Nuget-Feed"
                dotnet tool restore
                
                # Login to ID Server
                Write-Host "Logging into ID Server"
                dotnet sitecore login --client-credentials true --auth $(PROD_ID_SERVER_URL) --cm $(PROD_CM_URL) --allow-write true --client-id "MVP_Automation" --client-secret "$(PROD_IDENTITY_SECRET_MVP)"
                
                # Deserialize Content
                Write-Host "Push Content"
                dotnet sitecore ser push
                
                # Publish Database
                Write-Host "Publish Database"
                dotnet sitecore publish
              workingDirectory: '$(System.ArtifactsDirectory)/serialization'