<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Media.RequestExtension" set:value="" />
      <setting name="Media.RequestProtection.SharedSecret" set:value="xrnPzthhUyy7zaRtU8VnjGZxFzscUbcfTUZvN3PkFBTavXK3jqpQfPRuYLfgvwHH" />
    </settings>
  </sitecore>
</configuration>