<section class="column-container two-column-equal background-grey">
    <div class="container">
        <div class="row">
            <sc-placeholder name="column-container"></sc-placeholder>
        </div>
    </div>
</section>