<section class="page-overview-panel">
    <div class="container">
        <div class="row">
            <sc-placeholder name="page-overview-panel"></sc-placeholder>
        </div>
    </div>
</section>