<!--<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Welcome to the 2021 Sitecore MVP Application Page</h2>
                <p>Fill all required form field to go to next step</p>-->
                <!-- progressbar -->
                <!--<ul id="progressbar">
                    <li id="welcome" class="active"><strong>Welcome</strong></li>
                    <li id="category"><strong>Category</strong></li>
                    <li id="personal"><strong>Personal</strong></li>
                    <li id="objectives"><strong>Objectives</strong></li>
                    <li id="socials"><strong>Socials</strong></li>
                    <li id="contributions"><strong>Contributions</strong></li>
                    <li id="confirmation"><strong>Confirmation</strong></li>
                </ul>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div> <br>--> <!-- fieldsets -->
                <!--<div class="fieldset" data-step="welcome">
                    @Html.Partial("~/Views/Shared/Components/SitecoreComponent/Steps/_welcome.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>-->


<div id="application-form" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Welcome to the 2021 Sitecore MVP Application Page</h2>
                <p>Fill all form field to go to next step</p>
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li id="welcome" class="active"><strong>Welcome</strong></li>
                        <li id="category"><strong>Category</strong></li>
                        <li id="personal"><strong>Personal</strong></li>
                        <li id="objectives"><strong>Objectives</strong></li>
                        <li id="socials"><strong>Socials</strong></li>
                        <li id="contributions"><strong>Contributions</strong></li>
                        <li id="confirmation"><strong>Confirmation</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Welcome:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 7</h2>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Category:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 7</h2>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 7</h2>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Objectives and Motivation:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 7</h2>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Socials Accounts:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 5 - 7</h2>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Community Contributions:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 6 - 7</h2>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Confirmation:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 7 - 7</h2>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Submit" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
