<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Mvp.Foundation.Warmup.Pipelines.LoadRoutes, Mvp.Foundation.Warmup" patch:after="*[@type='Sitecore.Mvc.Pipelines.Initialize.InitializeCommandRoute, Sitecore.Speak.Client']" />
			</initialize>
			<warmup>
				<processor name="healthcheck" type="Mvp.Foundation.Warmup.Processors.UrlProcessor, Mvp.Foundation.Warmup">
					<urls hint="list:IncludeUrl">
						<url>/healthz/ready</url>
					</urls>
				</processor>
				<processor name="default" type="Mvp.Foundation.Warmup.Processors.UrlProcessor, Mvp.Foundation.Warmup" role:require="ContentDelivery">
					<param desc="allowCaching">true</param>
					<urls hint="list:IncludeUrl">
						<url>/</url>
					</urls>
				</processor>
				<processor name="default" type="Mvp.Foundation.Warmup.Processors.UrlProcessor, Mvp.Foundation.Warmup" role:require="ContentManagement or Standalone">
					<param desc="allowCaching">true</param>
					<urls hint="list:IncludeUrl">
						<url>/</url>
						<url>/sitecore</url>
						<url>/sitecore/client/Applications/Launchpad</url>
						<url>/sitecore/shell/Applications/Content%20Editor.aspx?sc_bw=1</url>
					</urls>
				</processor>
			</warmup>
		</pipelines>
		<api>
			<services>
				<configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
					<allowedControllers hint="list:AddController">
						<allowedController desc="WarmupController">Mvp.Foundation.Warmup.Controllers.WarmupController, Mvp.Foundation.Warmup</allowedController>
					</allowedControllers>
				</configuration>
			</services>
		</api>
		<settings>
			<setting name="Warmup.BaseUrl" value="http://cm" />
		</settings>
	</sitecore>
</configuration>