
section.application-form {
    padding: 20px 50px;
    background-color: none;

    .card {
        z-index: 0;
        border: none;
        padding: 25px 0;
        position: relative;
        color: #666666;
        background: none;

        p {
            text-align: left;
            line-height: 28px;
            margin-bottom: 32px;
        }
    }

    .btn.btn-primary {
        background-color: #fe2911;
        border: none;
        font-size: 17px;
        border-radius: 0;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding: 16px 30px 17px;
    }

    .toggle-submit {
        margin: 40px 0px 25px 0px;
    }

    .appStep {
        background: #fff;
        padding: 20px;
        text-align: left;
    }

    .steps {
        font-size: 18px;
        color: #232323;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right;
        position: relative;
        top: 5px;

        span {
            color: #fe2911;
            font-weight: 800;
            font-size: 18px;
            position: relative;
            top: 0px;
        }
    }
}


#application-form {
    text-align: center;
    position: relative;
    margin-top: 20px;

    fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative;
    }

    fieldset:not(:first-of-type) {
        display: none;
    }

    .dropdown-group {
        margin-left: 20 px;

        label {
            display: block;
            font-family: AvenirNextW05-Light;
        }
    }

    .form-group select {
        font-size: 18px;
        padding: 10 px 32 px;
        border: 1 px solid lightgrey;
    }
}

.form-card {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 20px;
}

#application-form input,
#application-form textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#application-form input:focus,
#application-form textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #fe2911;
    outline-width: 0
}

#application-form .action-button {
    width: 100px;
    background: #19a5a2;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

.invalid-feedback {
    font-size: 18px;
}

#application-form .action-button:hover,
#application-form .action-button:focus {
    background-color: #808080
}

#application-form .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#application-form .action-button-previous:hover,
#application-form .action-button-previous:focus {
    background-color: #232323
}

.fs-title {
    font-size: 32px;
    color: #232323;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #fe2911;
    font-weight: normal
}

.form-check-wrap {
    margin-left: 20px;
    padding-right: 20px;
    color: grey;
}


.fieldlabels {
    color: gray;
    text-align: left
}


#progressbar #welcome:before {
    font-family: FontAwesome;
    content: "\f046"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar #category:before {
    font-family: FontAwesome;
    content: "\f00b"
}
#progressbar #objectives:before {
    font-family: FontAwesome;
    content: "\f140"
}
#progressbar #socials:before {
    font-family: FontAwesome;
    content: "\f0c0"
}
#progressbar #contributions:before {
    font-family: FontAwesome;
    content: "\f2b5"
}
#progressbar #confirmation:before {
    font-family: FontAwesome;
    content: "\f00c"
}



.fit-image {
    width: 100%;
    object-fit: cover
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}



/*---- Progress Bar ----*/
#progressbar {
    margin-bottom: 50px;
    overflow: hidden;
    color: lightgrey;

    li.active {
        color: grey;

        &:before {
            color: white;
            border: none;
        }
    }

    li {
        &:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #fe2911;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px;
            border: 2px solid lightgrey;
            background-color: #F6F6F6;
        }

        list-style-type: none;
        font-size: 15px;
        width: 14%;
        float: left;
        position: relative;
        font-weight: 400;
    }
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #fe2911;
}
#progressbar {
    margin-bottom: 50px;
    overflow: hidden;
    color: lightgrey;

    li.active {

        &:before {
            color: white;
            border: none;
            background: #fe2911;
        }

        &:after {
            background: #fe2911;
        }
    }

    li {
        list-style-type: none;
        font-size: 15px;
        width: 14%;
        float: left;
        position: relative;
        font-weight: 400;
        color: grey;

        &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1;
        }
    }
}