
/* Brand Colors */
$sc-red: #fe2911;
$sc-teal: #1ca6a3;
$sc-charcoal: #232323;
$sc-black: #000000;
$sc-white: #ffffff;
$sc-gray1: #f0f0f0;
$sc-gray2: #cccccc;
$sc-gray3: #999999;
$sc-gray4: #707070;
$sc-gray5: #333333;
/* Site Colors */
$sc-topbar-bg: #666;
$sc-content-bg: #F6F6F6;
$sc-font-color: #212529;

header {
    position: relative;
    z-index: 10000;
}

