@model Mvp.Feature.Navigation.Models.Footer

    <footer class="fixed-footer">
        <div class="container-fluid bg-gray4 py-3">
            <div class="container">
                <div class="row">
                    <div class="footer-copyright col-9">
                        &copy; Copyright 2020, Sitecore. All Rights Reserved &nbsp;|
                        <a rel="noopener noreferrer" href="https://www.sitecore.com/trust" target="_blank">Legal</a>|
                        <a rel="noopener noreferrer" href="https://www.sitecore.com/trust/privacy-policy" target="_blank">Privacy</a>&nbsp;|
                        <a rel="noopener noreferrer" href="https://www.sitecore.com/own-the-experience" target="_blank">Own the Experience</a>|
                        <a href="mailto:mvp-program@sitecore.com">mvp-program@sitecore.com</a>
                    </div>
                    <div class="footer-social col-3">
                        <a class="footer-social-link" href="https://twitter.com/SitecoreMVP" target="_blank" aria-label="Go to Sitecore MVP on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="footer-social-link" href="https://www.facebook.com/Sitecore" target="_blank" aria-label="Go to Sitecore on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="footer-social-link" href="https://www.youtube.com/user/mastersitecore" target="_blank" aria-label="Go to MasterSitecore Youtube Channel"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a class="footer-social-link" href="https://www.linkedin.com/company/sitecore/" target="_blank" aria-label="Go to Sitecore on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a class="footer-social-link" href="https://www.instagram.com/sitecore/" target="_blank" aria-label="Go to Sitecore on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>