@model Mvp.Feature.Navigation.Models.TopLinks

<nav class="navbar navbar-expand p-0 d-none d-md-block" id="topbar">
    <div class="container">
        <div class="nav navbar-nav">
            @foreach (var topLink in Model.Links)
            {
                <a class="nav-item nav-link" target="_blank" href="@topLink.Url">@topLink.Title</a>
            }
        </div>
        <partial name="~/Views/Shared/Components/SignIn.cshtml" />
    </div>
</nav>
