@model Mvp.Feature.Navigation.Models.TopLinks

<nav class="navbar navbar-expand p-0 d-none d-md-block" id="topbar">
    <div class="container justify-content-end">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="#">Downloads</a>
            <a class="nav-item nav-link" href="#">Documentation</a>
            <a class="nav-item nav-link" href="#">Sitecore Community</a>
            <a class="nav-item nav-link" href="#">Marketplace</a>
            <a class="nav-item nav-link" href="#">Knowledge Base</a>
        </div>
    </div>
</nav>