<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <settings>
        <setting name="Sitecore.Services.AllowToLoginWithHttp" value="true"/>
        <setting name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure"/>

        <!-- we are editing these to allow access to SSC inside docker -->
        <setting name="Sitecore.Services.AllowItemServiceAnonymousUser" value="$(env:SSC__AllowAnonymousAccess)" />
        <setting name="Sitecore.Services.AnonymousUser" value="$(env:SSC__AnonymousUser)" />
      </settings>
    </sitecore>
</configuration>