<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <settings>
        <setting name="Sitecore.Services.AllowToLoginWithHttp" value="true"/>
        <setting name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure"/>

        <!--These setting are only for LOCAL as SSC cookies are not working with http://cm, so having htese settings disable authentication -->
        <!-- We need to update web.config to enclude env="local -->
        <setting name="Sitecore.Services.AllowItemServiceAnonymousUser" value="true" />
        <setting name="Sitecore.Services.AnonymousUser" value="sitecore\Admin" />
      </settings>
    </sitecore>
</configuration>