@import 'fonts/AvenirNext.scss';


/* Brand Colors */
$sc-red: #fe2911;
$sc-teal: #1ca6a3;
$sc-charcoal: #232323;
$sc-black: #000000;
$sc-white: #ffffff;
$sc-gray1: #f0f0f0;
$sc-gray2: #cccccc;
$sc-gray3: #999999;
$sc-gray4: #707070;
$sc-gray5: #333333;
/* Site Colors */
$sc-topbar-bg: #666;
$sc-content-bg: #F6F6F6;
$sc-font-color: #212529;

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin-bottom: 56px; /* Margin bottom by footer height */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    color: $sc-font-color;
    background-color: $sc-white;
}

/* Default Fonts */

* {
    font-family: AvenirNextW05-Medium;
}

p, select {
    font-family: AvenirNextW05-Regular;
    color: $sc-gray4;
    font-size: 18px;
}

i {
    font-family: AvenirNextW05-Italic;
    color: $sc-gray4;
}

h1, h2, h3, h4 {
    color: $sc-charcoal;
    font-weight: 900;
    font-family: AvenirNextW05-Bold;
}

h1 {
    font-size: 48px;
    line-height: 50px;
}

h2 {
    font-size: 36px;
}

@media (max-width: 767.98px) {
    h2 {
        font-size: 22px;
    }
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

@media (max-width: 767.98px) {
    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }
}

/* Colors */
.bg-teal {
    background: $sc-teal;
    color: $sc-white;
}

.bg-gray4 {
    background: $sc-gray4;
    color: $sc-white;
}

div.background-white,
section.background-white {
    background-color: $sc-white;
}

div.background-grey,
section.background-grey {
    background-color: $sc-content-bg;
}

#topbar {
    background: $sc-topbar-bg;
    font-size: 0.9em;
    height: 40px;

    a:link, a:visited {
        color: $sc-white;
        padding: 10px 18px 7px;
    }

    a.dropdown-item {
        &:link, &:visited {
            color: $sc-gray5;
        }
    }
}

header {
    position: relative;
    z-index: 10000;
}

.main-nav {
    padding-top: 25px;
    padding-bottom: 35px;

    #main-menu {
        padding: 0px;

        nav.navbar {
            padding: 0px;

            li.nav-item {
                a {
                    font-size: 1.2em;
                    font-weight: 600;
                    color: $sc-black;
                }

                a.dropdown-item {
                    font-size: 1.0em;
                    font-weight: 400;
                    color: $sc-black;

                    &:hover {
                        text-decoration: underline;
                        background: none;
                    }
                }
            }
        }
    }
}

main {
    #content {
        background-color: $sc-content-bg;
    }

    @import 'components/hero.scss';
    @import 'components/cta.scss';
    @import 'components/announcement-bar.scss';
    @import 'components/thee-column-info.scss';
    @import 'components/half-width-banner.scss';
    @import 'components/cta-overlapped-image.scss';
    @import 'components/column-container.scss';
    @import 'components/feature-panel.scss';
    @import 'components/page-overview-panel.scss';
    @import 'components/video.scss';
    @import 'components/search-results.scss';
}

.fixed-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px; /* Set the fixed height of the footer here */
    .footer-copyright {
        font-size: 0.9em;

        a:link, a:visited {
            color: $sc-white;
            margin: 3px;
        }
    }

    .footer-social-link {
        &:link, &:visited, i {
            color: $sc-white;
            margin: 0px 5px;
        }
    }
}
