<form id="categoryForm" class="form-horizontal" method="post" action="/submitApplication/">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">MVP Category:</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step 2 - 7</h2>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select a Category
            </button>
            <div class="dropdown-menu" id="dllcategory" aria-labelledby="dropdownMenuButton" asp-for="MVPCategories">
                <a class="dropdown-item" href="#">Ambassador</a>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" id="btnStep2" type="submit">Next</button>
</form>

