<form id="categoryForm" class="form-horizontal" method="post" action="/submitApplication/">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">MVP Category:</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step 2 - 7</h2>
            </div>
        </div>
        <span>Select a Category:</span>
        <select class="dropdown"  id="dllcategory"  asp-for="mvpcategory">
             
        </select>
    </div>
    <button class="btn btn-primary" id="btnStep2" type="submit">Next</button>
</form>

