<form id="contributionForm" class="form-horizontal" method="post" action="/submitApplication/">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">Notable Current Year Contributions:</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step 6 - 7</h2>
            </div>
        </div>
        <div class="form-group">
            <label for="onlineAcvitity">Summary of relevant online professional activity</label>
            <textarea class="form-control" id="onlineAcvitity" rows="3" asp-for=""></textarea>
        </div>
        <div class="form-group">
            <label for="offlineActivity">Summary of relevant offline professional activity</label>
            <textarea class="form-control" id="offlineActivity" rows="3"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" id="btnStep6" type="submit">Next</button>
    <button class="btn btn-primary" id="btnPrevious" type="submit">Previous</button>
</form>

