<form id="contributionForm" class="form-horizontal" method="post" action="/submitApplication/">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">Notable Current Year Contributions</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step <span>6</span> of 7</h2>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label for="onlineAcvitity">Summary of relevant online professional activity: *</label>
            <textarea class="form-control" id="onlineAcvitity" rows="3" asp-for="onlineactivity" required></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label for="offlineActivity">Summary of relevant offline professional activity: *</label>
            <textarea class="form-control" id="offlineActivity" rows="3" asp-for="offlineactivity" required></textarea>
        </div>
    </div>
    <div class="col-12 toggle-submit">
        <button class="btn btn-secondary" id="btnPrevious" type="button" onclick="javascript:getPrevStep();">Previous</button>
        <button class="btn btn-primary" id="btnStep6" type="submit">Next</button>
    </div>
</form>

