<form id="personalForm" class="form-horizontal" method="post" action="/submitApplication/">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">Objectives and Motivation:</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step 4 - 7</h2>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Why do you believe you are eligible to be selected to be a Sitecore MVP?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">What are your objectives for the next year?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" id="btnWelcome" type="submit">Next</button>
    <button class="btn btn-primary" id="btnPrevious" type="submit">Previous</button>
</form>

