<form id="personalForm" class="form-horizontal" method="post" action="/submitApplication/">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">Personal Information:</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step 3 - 7</h2>
            </div>
        </div>
        <label class="fieldlabels">Official First Name: *</label>
        <input type="text" id="firstName" name="firstName" placeholder="first name" asp-for="officialfirstname" />

        <label class="fieldlabels">Official Last Name: *</label>
        <input type="text" id="lastName" name="lastName" placeholder="last name" asp-for="officiallastname" />

        <label class="fieldlabels">Preferred Name: *</label>
        <input type="text" id="preferredName" name="preferredName" placeholder="preferred name" asp-for="preferredname" />

        <label class="fieldlabels">Employment Status</label>
        <select class="dropdown" id="ddlEmploymentStatus" asp-for="employmentstatus">
        </select>

        <label class="fieldlabels">Company Name: *</label>
        <input type="text" id="companyName" name="companyName" placeholder="company name" asp-for="companyname" />

        <label class="fieldlabels">Country/Region/Territory</label>
        <select class="dropdown" id="ddlCountry" asp-for="country">
        </select>

        <label class="fieldlabels">Mentor: *</label>
        <input type="text" id="mentor" name="mentor" placeholder="mentore" asp-for="mentor" />


    </div>
    <button class="btn btn-primary" id="btnStep3" type="submit">Next</button>
    <button class="btn btn-primary" id="btnPrevious" type="submit">Previous</button>
</form>

