<form id="socialForm" class="form-horizontal" method="post" action="/submitApplication/">
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">Community Profiles</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step <span>5</span> of 7</h2>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5 col-sm-12">
            <label class="fieldlabels">Blog:</label>
            <input type="text" class="form-control" id="blog" name="blog" placeholder="blog" asp-for="blog" />
        </div>
        <div class="col-md-5 offset-md-1 col-sm-12">
            <label class="fieldlabels">Sitecore Community:</label>
            <input type="text" class="form-control" id="sitecoreCommunity" name="sitecoreCommunity" placeholder="sitecore community" asp-for="sitecorecommunity" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-5 col-sm-12">
            <label class="fieldlabels">Stack Exchange</label>
            <input type="text" class="form-control" id="stackExchange" name="stackExchange" placeholder="Stack Exchange" asp-for="stackexchange" />
        </div>
        <div class="col-md-5 offset-md-1 col-sm-12">
            <label class="fieldlabels">Github:</label>
            <input type="text" class="form-control" id="gitHub" name="gitHub" placeholder="github" asp-for="github" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-5 col-sm-12">
            <label class="fieldlabels">Twitter:</label>
            <input type="text" class="form-control" id="twitter" name="twitter" placeholder="twitter" asp-for="twitter" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-11">
            <label class="fieldlabels" for="exampleFormControlTextarea1">Other</label>
            <textarea class="form-control" id="others" rows="3" asp-for="other"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-check col-11">
            <input class="form-check-input" type="checkbox" value="" id="chkTerms" asp-for="agreeonterms">
            <label class="form-check-label" for="chkTerms">
                By selecting this option, I understand and agree that my community contribution via the above channels may be shared with Sitecore Feeds, SitecoreLink, and other Sitecore Community projects. (Optional)
            </label>
        </div>
    </div>

    <div class="col-12 toggle-submit">
        <button class="btn btn-secondary" id="btnPrevious" type="button" onclick="javascript:getPrevStep();">Previous</button>
        <button class="btn btn-primary" id="btnStep5" type="submit">Next</button>
    </div>
</form>

