<form id="form_step1" class="form-horizontal needs-validation" novalidate>
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">Welcome:</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">Step 1 - 7</h2>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
                By submitting my information, I confirm that I have read and agree to the Sitecore Privacy Policy, which explains how Sitecore collects, processes and shares my personal data. I consent to my data being processed in accordance with Sitecore’s Privacy Policy so that Sitecore can optimize my experience with the Sitecore brand. I understand that I can opt-out at any time.
            </label>
            <div class="invalid-feedback">
                You must agree before begining your application.
            </div>
        </div>
    </div>
    <div class="col-12">
        <button id="btnStep1" class="btn btn-primary" type="submit">Begin Application</button>
    </div>
</form>