<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set" >
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <!-- Okta Settings - DO NOT CHECK IN REAL ACCOUNTS - (also update Project/appsettings.json) -->
            <setting name="Okta_OktaDomain" value="https://dev-45952888.okta.com" />
            <setting name="Okta_ClientId" value="0oa1jhwqy63SWS4sG5d7" />
            <setting name="Okta_ClientSecret" value="KrF9WOnKRCpYsQEjm-RPr9kJ-NjEHWpJBRyfpiUj" />
            <setting name="Okta_AuthorizationServerId" value="default" />
            <setting name="Okta_RedirectUri" value="https://mvp-cd.sc.localhost/identity/externallogincallback" />
        </settings>
        <pipelines>
            <owin.identityProviders>
                <!-- This is the custom processor that gets executed when rendering host passes Okta token to Sitecore via authentication header -->
                <processor patch:before="processor[@type='Sitecore.Owin.Authentication.IdentityServer.Pipelines.IdentityProviders.ConfigureIdentityServer, Sitecore.Owin.Authentication.IdentityServer']" type="Mvp.Foundation.User.Pipelines.IdentityProviders.HeadlessOktaIdentityProvider, Mvp.Foundation.User" resolve="true" />
            </owin.identityProviders>
        </pipelines>
        <federatedAuthentication>
            <identityProviders hint="list:AddIdentityProvider">
                <identityProvider id="headless.okta" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <param desc="name">$(id)</param>
                    <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                    <caption>Sign in with Okta</caption>
                    <domain>sitecore</domain>
                    <!--<icon>signin__azure_adB2C</icon>-->
                    <transformations hint="list:AddTransformation">
                        <!-- you need to have and Idp Claim for this to work -->
                        <!--<transformation name="Idp Claim" ref="federatedAuthentication/sharedTransformations/setidpclaim" />-->
                        <transformation name="Idp Claim" type="Sitecore.Owin.Authentication.Services.SetIdpClaimTransform, Sitecore.Owin.Authentication" />
                        <transformation name="map role to idp" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                            <sources hint="raw:AddSource">
                                <claim name="idp" value="headless.okta" />
                            </sources>
                            <targets hint="raw:AddTarget">
                                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\developer" />
                                <!--<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\extranet user" />-->
                            </targets>
                            <keepSource>true</keepSource>
                        </transformation>
                    </transformations>
                </identityProvider>
            </identityProviders>
            <!-- Property initializer assigns claim values to sitecore user properties -->
            <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication" resolve="true">
                <maps hint="list">
                    <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <!--claim name-->
                            <source name="emails" />
                            <!--property name-->
                            <target name="Email" />
                        </data>
                    </map>
                    <map name="Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <!--claim name-->
                            <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
                            <!--property name-->
                            <target name="Name" />
                        </data>
                    </map>
                </maps>
            </propertyInitializer>
            <identityProvidersPerSites>
                <mapEntry name="okta" resolve="true" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
                    <sites hint="list">
                        <site>mvp-site</site>
                    </sites>
                    <!-- Registered identity providers for above providers -->
                    <identityProviders hint="list:AddIdentityProvider">
                        <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='headless.okta']" />
                    </identityProviders>

                    <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication" resolve="true">
                        <param desc="isPersistentUser">false</param>
                    </externalUserBuilder>
                </mapEntry>
            </identityProvidersPerSites>
        </federatedAuthentication>

        <!-- DISABLES IDENTITY SERVER -->
        <!--<federatedAuthentication>
      <identityProviders>
        <identityProvider id="SitecoreIdentityServer">
          <enabled>false</enabled>
        </identityProvider>
      </identityProviders>
    </federatedAuthentication>
        
    <sites>
      <site name="shell" set:loginPage="/sitecore/login"/>
      <site name="admin" set:loginPage="/sitecore/admin/login.aspx"/>
    </sites>-->

    </sitecore>
</configuration>