/* Brand Colors */
$sc-red: #fe2911;
$sc-teal: #1ca6a3;
$sc-charcoal: #232323;
$sc-black: #000000;
$sc-white: #ffffff;
$sc-gray1: #f0f0f0;
$sc-gray2: #cccccc;
$sc-gray3: #999999;
$sc-gray4: #707070;
$sc-gray5: #333333;
/* Site Colors */
$sc-topbar-bg: #666;
$sc-content-bg: #F6F6F6;
$sc-font-color: #212529;


.agenda .sz-session__card .sz-session__title {
    color: $sc-white;
}

.agenda .sz-session__card .sz-session__speakers li a{
    color: $sc-gray2 !important;
}

.agenda .sz-session__card .sz-session__tags li {
    color: $sc-white !important;
}