@using System.Security.Claims;
@using Mvp.Foundation.User.Extensions

@if (User.Identity.IsAuthenticated)
{
    var emailClaim = ((ClaimsIdentity)User.Identity).FindFirst("email");

    <ul class="nav navbar-nav">
        <li>
            <span class="nav-item nav-link">Hello, @User.Identity.Name</span>
        </li>
        <li><a class="nav-item nav-link" asp-controller="User" asp-action="Claims" id="profile-button">
            @Html.GravatarImage(
              emailClaim == null ? string.Empty : emailClaim.Value,
              size: 32,
              defaultImage: GravatarHtmlHelper.DefaultImage.Identicon,
              rating: GravatarHtmlHelper.Rating.PG,
              cssClass: "gravatar img-responsive")
            Profile</a></li>
        <li>
            <form class="form-inline" asp-controller="User" asp-action="SignOut" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark" id="logout-button" id="profile-button">Sign Out</button>
            </form>
        </li>
    </ul>
}
else
{
<ul class="nav navbar-nav">
    <li><a class="nav-item nav-link" asp-controller="User" asp-action="SignIn" id="login-button">Sign In</a></li>
</ul>
}