<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Mvp.Foundation.SitecoreExtensions.Pipelines.RegisterCustomRoute, Mvp.Foundation.SitecoreExtensions" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <httpRequestBegin>
        <processor type="Mvp.Foundation.SitecoreExtensions.Pipelines.AccessControlHeaders, Mvp.Foundation.SitecoreExtensions" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                 type="Mvp.Foundation.SitecoreExtensions.Pipelines.SitemapGenerator, Mvp.Foundation.SitecoreExtensions">
        </processor>
      </httpRequestBegin>
      <mvc.requestBegin>
        <processor type="Mvp.Foundation.SitecoreExtensions.Pipelines.CustomContextItemResolver, Mvp.Foundation.SitecoreExtensions"
                   patch:instead="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']"
                   resolve="true" />
      </mvc.requestBegin>
    </pipelines>

    <settings>
      <setting name="Mvp.404PageName" value="/404" />
      <!--Add comma seperated Template item ids to exclude those items from sitemap.xml-->
      <setting name="Mvp.ExcludeSitecoreItemsByTemplatesInSitemap" value="{6AEC120A-7222-42C6-A8E8-53F9354AEF53},{64AD1284-23FB-4B76-85B3-C6DFB1B322BF},{86864760-3B8B-4E79-927E-0ADDCD14055D},{BDF1A02F-CE53-4DE8-8FE4-E25D6CA65B7C}" />
      <!--Add 
            2 means consider Language Embedding = Always
            1 means consider Language Embedding = AsNeeded
            0 means consider Language Embedding = Never
            -->
      <setting name="Mvp.LanguageEmbedForSitemap" value="1" />
      <setting name="Mvp.DockerSitemapPath" value="c:\solution\src\Project\MvpSite\rendering\sitemap.xml" />
    </settings>
  </sitecore>
</configuration>