<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Mvp.Foundation.SitecoreExtensions.Pipelines.RegisterCustomRoute, Mvp.Foundation.SitecoreExtensions" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <httpRequestBegin>
        <processor type="Mvp.Foundation.SitecoreExtensions.Pipelines.AccessControlHeaders, Mvp.Foundation.SitecoreExtensions" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <mvc.requestBegin>
        <processor type="Mvp.Foundation.SitecoreExtensions.Pipelines.CustomContextItemResolver, Mvp.Foundation.SitecoreExtensions"
                   patch:instead="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']"
                   resolve="true" />
      </mvc.requestBegin>
    </pipelines>

    <settings>
      <setting name="Mvp.404PageName" value="/404" />
    </settings>
  </sitecore>
</configuration>