* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

p {
  color: grey; }

#heading {
  text-transform: uppercase;
  color: #000000;
  font-weight: normal; }

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px; }

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative; }

.form-card {
  text-align: left; }

#msform fieldset:not(:first-of-type) {
  display: none; }

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 16px;
  letter-spacing: 1px; }

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #fe2911;
  outline-width: 0; }

#msform .action-button {
  width: 100px;
  background: #19a5a2;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right; }

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #808080; }

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right; }

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000; }

.card {
  z-index: 0;
  border: none;
  position: relative; }

.fs-title {
  font-size: 25px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left; }

.purple-text {
  color: #fe2911;
  font-weight: normal; }

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right; }

.fieldlabels {
  color: gray;
  text-align: left; }

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey; }

#progressbar .active {
  color: #fe2911; }

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 14%;
  float: left;
  position: relative;
  font-weight: 400; }

#progressbar #welcome:before {
  font-family: FontAwesome;
  content: "\f046"; }

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007"; }

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030"; }

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c"; }

#progressbar #category:before {
  font-family: FontAwesome;
  content: "\f00b"; }

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px; }

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1; }

#progressbar li.active:before,
#progressbar li.active:after {
  background: #fe2911; }

.progress {
  height: 20px; }

.progress-bar {
  background-color: #fe2911; }

.fit-image {
  width: 100%;
  object-fit: cover; }

#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6); }

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear; }

@keyframes sp-anime {
  100% {
    transform: rotate(360deg); } }

.is-hide {
  display: none; }

/*# sourceMappingURL=../maps/components/application.css.map */
